<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link   href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
    <link   href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src ="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!--<script src="js/jquery.min.js"></script>-->
    <!------ Include the above in your HEAD tag ---------->
    <title>VSCode Hub - Wavestone</title>
</head>
<body>


    
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
          <img src="{{url_for('static' ,filename='img/vs-server.png')}}" id="icon" alt="User Icon" />
        </div>
    
        <!-- Login Form -->
        <form action = '/vshub/verify' method = 'post'>
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
          <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
          <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <img src="{{url_for('static' ,filename='img/wavestone.png')}}" id="icon" alt="User Icon" />
          {% if false_login %}
	    <br/>
            <b> Indentifiants incorrects ! </b>
          {% endif %}

          <!-- <a class="underlineHover" href="#">Forgot Password?</a> -->
        </div>
    
      </div>
    </div>
    
</body>
</html>
