<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link   href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
    <link   href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src ="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!--<script src="js/jquery.min.js"></script>-->
    <!------ Include the above in your HEAD tag ---------->
    <title>VSCode Hub - Wavestone</title>
</head>
<body>


    
    <div class="wrapper">
      <div id="formContent">
        
        <div id="passwordContainer">
          
          <p>Please note this password in a safe place, it will be required to access the container if 
          you change the navigator </p>

          Password : {{password}}

          <a href="{{container_link}}" class="btn btn-primary">Go to container</a>

        </div>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <img src="{{url_for('static' ,filename='img/wavestone.png')}}" id="icon" alt="User Icon" />
          {% if false_login %}
	    <br/>
            <b> Indentifiants incorrects ! </b>
          {% endif %}

          <!-- <a class="underlineHover" href="#">Forgot Password?</a> -->
        </div>
    
      </div>
    </div>
    
</body>
</html>
